name: CI/CD to AKS

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Run Bandit Security Scan and upload report
      - name: Run Bandit Security Scan
        run: |
          pip install bandit
          bandit -r app --severity-level high -f json -o bandit-report.json

      - name: Upload Bandit Report
        uses: actions/upload-artifact@v3
        with:
          name: bandit-report
          path: bandit-report.json

      # 3. Install dependencies and run tests
      - name: Install dependencies and run tests
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r app/requirements.txt
          export PYTHONPATH=$PYTHONPATH:$(pwd)/app
          pytest tests/

      # 4. Login to Azure using Service Principal credentials
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # 5. Login to Azure Container Registry (ACR)
      - name: Login to ACR
        run: |
          az acr login --name ${{ secrets.ACR_NAME }}

      # 6a. Build Docker Image
      - name: Build Docker Image
        id: build
        run: |
          IMAGE_TAG=${{ github.sha }}
          IMAGE_NAME=${{ secrets.ACR_NAME }}.azurecr.io/flask-aks-app:$IMAGE_TAG
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV
          docker build --no-cache -t $IMAGE_NAME .

      # 6b. Run Trivy Scan and upload report
      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.IMAGE_NAME }}
          severity: HIGH,CRITICAL
          ignore-unfixed: true
          format: json
          output: trivy-report.json

      - name: Upload Trivy Report
        uses: actions/upload-artifact@v3
        with:
          name: trivy-report
          path: trivy-report.json

      # 6c. Push Docker Image
      - name: Push Docker Image
        run: |
          docker push $IMAGE_NAME

      # 7. Set AKS Context
      - name: Set AKS Context
        run: |
          az aks get-credentials --resource-group ${{ secrets.RESOURCE_GROUP }} --name ${{ secrets.CLUSTER_NAME }} --overwrite-existing

      # 8. Deploy to AKS
      - name: Deploy to AKS
        run: |
          kubectl apply -f K8s/deployment.yaml
          kubectl apply -f K8s/service.yaml
          kubectl set image deployment/flask-eks-app flask-eks-app=$IMAGE_NAME